node_modules
depends
src/leveldb
src/secp256k1
src/univalue
autom4te.cache
build_msvc
desktop/verium-app/dist
desktop/verium-app/src-tauri/target
desktop/verium-app/src-tauri/**/target
desktop/verium-app/src-tauri/binaries
.cirrus.yml
.travis.yml
.appveyor.yml
desktop/verium-app/node_modules
desktop/verium-app/.next
package-lock.json
*.tsbuildinfo
configure
Makefile
Makefile.in
**/*.moc
**/ui_*.h
**/moc_*.cpp
